.light-board-card {
    border: 5px solid lightblue;
    border-radius: 7%;
    padding: 7px;
    margin: 10px;
}

.dark-board-card {
    border: 5px solid #A70C4A;
    border-radius: 7%;
    padding: 7px;
    margin: 10px;
}

.board-image {
    border-radius: 7%;
}

