#root {
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: lightblue;
}

header h1 {
  color: black;
}

footer {
  height: 70px;
  background-color: lightblue;
}